<!-- footer start -->
<footer class="footer">
  <div class="container">
    <div class="footer__wrapper">
      <div class="footer__columns">
        <div class="footer__column">
          <div class="footer__column-title">Каталог</div>
          <ul class="footer__list">
            <li>
              <a href="#">Одежда</a>
            </li>
            <li>
              <a href="#">Одежда</a>
            </li>
            <li>
              <a href="#">Одежда</a>
            </li>
            <li>
              <a href="#">Одежда</a>
            </li>
          </ul>
        </div>
        <div class="footer__column">
          <p class="footer__column-title">Информация</p>
          <ul class="footer__list">
            <li>
              <a href="#">Доставка</a>
            </li>
            <li>
              <a href="#">Оплата</a>
            </li>
            <li>
              <a href="#">FAQ</a>
            </li>
          </ul>
        </div>
        <div class="footer__column">
          <p class="footer__column-title">Контакты</p>
          <ul class="footer__list">
            <li class="footer__mail">
              <a href="#">info@xwear.info</a>
            </li>
            <li class="footer__phone">
              <a href="tel:79936083885">+7 993 608 38 85</a>
            </li>
          </ul>
          <div class="footer__icons">
            <p class="footer__icons-title">Мессенджеры</p>
            <div class="footer__icons-flex">
              <a href="#"
                ><img src="assets/images/icons/watsap.svg" alt="watsap"
              /></a>
              <a href="#"
                ><img src="assets/images/icons/telegram.svg" alt="telegram"
              /></a>
            </div>
          </div>
          <div class="footer__icons">
            <p class="footer__icons-title">Наши соц.сети</p>
            <div class="footer__icons-flex">
              <a href="#"><img src="assets/images/icons/vk.svg" alt="vk" /></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- footer end -->
