<div class="full-card">
  <div class="full-card__wrapper">
    <h3 class="full-card__title hidden">Кроссовки Nike Court Zoom Cage 2</h3>
    <div class="full-card__slider">
      <!-- Основной слайдер -->
      <div class="swiper full-card-main-slider">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <img
              src="https://tempus.by/upload/dev2fun.imagecompress/webp/iblock/f96/14p61m4up3p4mhqkjahpfk1nsv2aixde.webp"
              alt="shoe1"
            />
          </div>
          <div class="swiper-slide">
            <img
              src="https://tempus.ru/upload/dev2fun.imagecompress/webp/iblock/d30/4088vdc01s301amqmf44bw9hoiybhkl8.webp"
              alt="shoe2"
            />
          </div>
          <div class="swiper-slide">
            <img
              src="https://tempus.by/upload/dev2fun.imagecompress/webp/iblock/3e7/lg45ro9d1h0vlqoz9nnt9h3zsw8qxz5z.webp"
              alt="shoe3"
            />
          </div>
          <div class="swiper-slide">
            <img
              src="https://static.alltime.ru/obj/catalog/watch/casio/img/big/GMA-S140M-7AER__9.jpg"
              alt="shoe4"
            />
          </div>
        </div>
      </div>

      <!-- Слайдер превью -->
      <div class="swiper full-card-thumbs-slider">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <img
              src="https://tempus.by/upload/dev2fun.imagecompress/webp/iblock/f96/14p61m4up3p4mhqkjahpfk1nsv2aixde.webp"
              alt="thumb1"
            />
          </div>
          <div class="swiper-slide">
            <img
              src="https://tempus.ru/upload/dev2fun.imagecompress/webp/iblock/d30/4088vdc01s301amqmf44bw9hoiybhkl8.webp"
              alt="thumb2"
            />
          </div>
          <div class="swiper-slide">
            <img
              src="https://tempus.by/upload/dev2fun.imagecompress/webp/iblock/3e7/lg45ro9d1h0vlqoz9nnt9h3zsw8qxz5z.webp"
              alt="thumb3"
            />
          </div>
          <div class="swiper-slide">
            <img
              src="https://static.alltime.ru/obj/catalog/watch/casio/img/big/GMA-S140M-7AER__9.jpg"
              alt="thumb4"
            />
          </div>
        </div>
        <div class="full-card-thumbs-slider__pagination"></div>
      </div>
    </div>
    <div class="full-card__description">
      <h3 class="full-card__title">Кроссовки Nike Court Zoom Cage 2</h3>
      <p class="full-card__subtitle">Детали:</p>
      <div class="full-card__description__body">
        <ul class="full-card__description-items">
          <li>
            <p class="full-card__description-name">Артикул</p>
            <span><div class="full-card__description-line"></div></span>
            <p class="full-card__description-result">234234</p>
          </li>
          <li>
            <p class="full-card__description-name">1</p>
            <span><div class="full-card__description-line"></div></span>
            <p class="full-card__description-result">1</p>
          </li>
          <li>
            <p class="full-card__description-name">1</p>
            <span><div class="full-card__description-line"></div></span>
            <p class="full-card__description-result">Lorem, ipsum dolor.</p>
          </li>
          <li>
            <p class="full-card__description-name">Lorem ipsum</p>
            <span><div class="full-card__description-line"></div></span>
            <p class="full-card__description-result">Lorem, ipsum dolor.</p>
          </li>
        </ul>
        <!-- <ul class="full-card__description-list-names">
          <li>
            <p>Артикул</p>
          </li>
          <li>
            <p>Категория</p>
          </li>
          <li>
            <p>Категория</p>
          </li>
          <li>
            <p>Модель</p>
          </li>
          <li>
            <p>Цвет</p>
          </li>
        </ul>
        <ul class="full-card__description-list-result">
          <li>
            <p>Артикул</p>
          </li>
          <li>
            <p>Категория</p>
          </li>
          <li>
            <p>Категория</p>
          </li>
          <li>
            <p>Модель</p>
          </li>
          <li>
            <p>Цвет</p>
          </li>
        </ul> -->
      </div>
      <button class="full-card__btn button">
        Длбавить в карзину<svg
          width="6"
          height="10"
          viewBox="0 0 6 10"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M5.36529 5.56549C5.67771 5.25307 5.67771 4.74654 5.36529 4.43412L1.36529 0.434119C1.05288 0.1217 0.546343 0.1217 0.233924 0.434119C-0.0784959 0.746538 -0.0784959 1.25307 0.233924 1.56549L3.66824 4.9998L0.233924 8.43412C-0.0784955 8.74654 -0.0784955 9.25307 0.233924 9.56549C0.546343 9.87791 1.05288 9.87791 1.36529 9.56549L5.36529 5.56549Z"
            fill="white"
          />
        </svg>
      </button>
    </div>
  </div>
</div>
