<aside class="sidebar">
  <div class="sidebar__wrapper">
    <button class="sidebar__btn-close">
      <svg
        width="14"
        height="14"
        viewBox="0 0 14 14"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <g opacity="0.8">
          <path
            d="M1 12.3137L12.3137 1.00001"
            stroke="white"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
          <path
            d="M12.3145 12.3137L1.00074 1.00001"
            stroke="white"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </g>
      </svg>
    </button>
    <div class="sidebar__body">
      <div class="sidebar__filters">
        <div class="sidebar__filter sidebar-filter">
          <div class="sidebar-filter__header">
            <h4 class="sidebar__title title-filter-category">Категории</h4>
            <svg
              width="8"
              height="5"
              viewBox="0 0 8 5"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M3.64645 0.146447C3.84171 -0.0488155 4.15829 -0.0488155 4.35355 0.146447L7.53553 3.32843C7.7308 3.52369 7.7308 3.84027 7.53553 4.03553C7.34027 4.2308 7.02369 4.2308 6.82843 4.03553L4 1.20711L1.17157 4.03553C0.976311 4.2308 0.659728 4.2308 0.464466 4.03553C0.269204 3.84027 0.269204 3.52369 0.464466 3.32843L3.64645 0.146447ZM4 1.5L3.5 1.5L3.5 0.5L4 0.5L4.5 0.5L4.5 1.5L4 1.5Z"
                fill="#232323"
              />
            </svg>
          </div>
          <div class="sidebar-filter__body">
            <ul class="sidebar-filter__list">
              <li><a href="#">Кроссовки </a></li>
              <li><a href="#">Кеды </a></li>
              <li><a href="#">Лофферы </a></li>
              <li><a href="#">Сандали </a></li>
              <li><a href="#">Шлепки </a></li>
            </ul>
          </div>
        </div>
        <div class="sidebar__filter sidebar-filter">
          <div class="sidebar-filter__header">
            <h4 class="sidebar__title title-filter-category">Категории</h4>
            <svg
              width="8"
              height="5"
              viewBox="0 0 8 5"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M3.64645 0.146447C3.84171 -0.0488155 4.15829 -0.0488155 4.35355 0.146447L7.53553 3.32843C7.7308 3.52369 7.7308 3.84027 7.53553 4.03553C7.34027 4.2308 7.02369 4.2308 6.82843 4.03553L4 1.20711L1.17157 4.03553C0.976311 4.2308 0.659728 4.2308 0.464466 4.03553C0.269204 3.84027 0.269204 3.52369 0.464466 3.32843L3.64645 0.146447ZM4 1.5L3.5 1.5L3.5 0.5L4 0.5L4.5 0.5L4.5 1.5L4 1.5Z"
                fill="#232323"
              />
            </svg>
          </div>
          <div class="sidebar-filter__body">
            <ul class="sidebar-filter__list">
              <li><a href="#">Кроссовки </a></li>
              <li><a href="#">Кеды </a></li>
              <li><a href="#">Лофферы </a></li>
              <li><a href="#">Сандали </a></li>
              <li><a href="#">Шлепки </a></li>
            </ul>
          </div>
        </div>
        <div class="sidebar__filter sidebar-filter">
          <div class="sidebar-filter__header">
            <h4 class="sidebar__title title-filter-category">Фильтр по цене</h4>
            <svg
              width="8"
              height="5"
              viewBox="0 0 8 5"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M3.64645 0.146447C3.84171 -0.0488155 4.15829 -0.0488155 4.35355 0.146447L7.53553 3.32843C7.7308 3.52369 7.7308 3.84027 7.53553 4.03553C7.34027 4.2308 7.02369 4.2308 6.82843 4.03553L4 1.20711L1.17157 4.03553C0.976311 4.2308 0.659728 4.2308 0.464466 4.03553C0.269204 3.84027 0.269204 3.52369 0.464466 3.32843L3.64645 0.146447ZM4 1.5L3.5 1.5L3.5 0.5L4 0.5L4.5 0.5L4.5 1.5L4 1.5Z"
                fill="#232323"
              />
            </svg>
          </div>
          <div class="sidebar-filter__body">
            <div class="sidebar-filter__price">
              <div class="sidebar-filter__price-header">
                <input
                  type="number"
                  class="sidebar-filter__price-number sidebar-filter__price-number--min"
                />
                <p>-</p>
                <input
                  type="number"
                  class="sidebar-filter__price-number sidebar-filter__price-number--max"
                />
              </div>
              <div class="sidebar-filter__price-range"></div>
            </div>
          </div>
        </div>
        <div class="sidebar__filter sidebar-filter">
          <div class="sidebar-filter__header">
            <h4 class="sidebar__title title-filter-category">Размеры (EU)</h4>
            <svg
              width="8"
              height="5"
              viewBox="0 0 8 5"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M3.64645 0.146447C3.84171 -0.0488155 4.15829 -0.0488155 4.35355 0.146447L7.53553 3.32843C7.7308 3.52369 7.7308 3.84027 7.53553 4.03553C7.34027 4.2308 7.02369 4.2308 6.82843 4.03553L4 1.20711L1.17157 4.03553C0.976311 4.2308 0.659728 4.2308 0.464466 4.03553C0.269204 3.84027 0.269204 3.52369 0.464466 3.32843L3.64645 0.146447ZM4 1.5L3.5 1.5L3.5 0.5L4 0.5L4.5 0.5L4.5 1.5L4 1.5Z"
                fill="#232323"
              />
            </svg>
          </div>
          <div class="sidebar-filter__body">
            <div class="sidebar-filter__size-grid">
              <button>36</button>
              <button>37</button>
              <button>38</button>
              <button>39</button>
              <button>40</button>
              <button>41</button>
              <button>42</button>
              <button>42</button>
              <button>43</button>
              <button>44</button>
            </div>
          </div>
        </div>
        <div class="sidebar__filter sidebar-filter">
          <div class="sidebar-filter__header">
            <h4 class="sidebar__title title-filter-category">Бренды</h4>
            <svg
              width="8"
              height="5"
              viewBox="0 0 8 5"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M3.64645 0.146447C3.84171 -0.0488155 4.15829 -0.0488155 4.35355 0.146447L7.53553 3.32843C7.7308 3.52369 7.7308 3.84027 7.53553 4.03553C7.34027 4.2308 7.02369 4.2308 6.82843 4.03553L4 1.20711L1.17157 4.03553C0.976311 4.2308 0.659728 4.2308 0.464466 4.03553C0.269204 3.84027 0.269204 3.52369 0.464466 3.32843L3.64645 0.146447ZM4 1.5L3.5 1.5L3.5 0.5L4 0.5L4.5 0.5L4.5 1.5L4 1.5Z"
                fill="#232323"
              />
            </svg>
          </div>
          <div class="sidebar-filter__body">
            <div class="sidebar-filter__brends">
              <div
                class="sidebar-filter__brend pretty p-svg p-curve p-smooth p-primary"
              >
                <input type="checkbox" />
                <div class="state p-primary">
                  <svg class="svg svg-icon" viewBox="0 0 20 20">
                    <path
                      d="M7.629,14.566c0.125,0.125,0.291,0.188,0.456,0.188c0.164,0,0.329-0.062,0.456-0.188l8.219-8.221c0.252-0.252,0.252-0.659,0-0.911c-0.252-0.252-0.659-0.252-0.911,0l-7.764,7.763L4.152,9.267c-0.252-0.251-0.66-0.251-0.911,0c-0.252,0.252-0.252,0.66,0,0.911L7.629,14.566z"
                      style="stroke: white; fill: white"
                    ></path>
                  </svg>
                  <label>Adidas</label>
                </div>
              </div>

              <div
                class="sidebar-filter__brend pretty p-svg p-curve p-smooth p-primary"
              >
                <input type="checkbox" />
                <div class="state p-primary">
                  <svg class="svg svg-icon" viewBox="0 0 20 20">
                    <path
                      d="M7.629,14.566c0.125,0.125,0.291,0.188,0.456,0.188c0.164,0,0.329-0.062,0.456-0.188l8.219-8.221c0.252-0.252,0.252-0.659,0-0.911c-0.252-0.252-0.659-0.252-0.911,0l-7.764,7.763L4.152,9.267c-0.252-0.251-0.66-0.251-0.911,0c-0.252,0.252-0.252,0.66,0,0.911L7.629,14.566z"
                      style="stroke: white; fill: white"
                    ></path>
                  </svg>
                  <label>Adidas</label>
                </div>
              </div>
              <div
                class="sidebar-filter__brend pretty p-svg p-curve p-smooth p-primary"
              >
                <input type="checkbox" />
                <div class="state p-primary">
                  <svg class="svg svg-icon" viewBox="0 0 20 20">
                    <path
                      d="M7.629,14.566c0.125,0.125,0.291,0.188,0.456,0.188c0.164,0,0.329-0.062,0.456-0.188l8.219-8.221c0.252-0.252,0.252-0.659,0-0.911c-0.252-0.252-0.659-0.252-0.911,0l-7.764,7.763L4.152,9.267c-0.252-0.251-0.66-0.251-0.911,0c-0.252,0.252-0.252,0.66,0,0.911L7.629,14.566z"
                      style="stroke: white; fill: white"
                    ></path>
                  </svg>
                  <label>Adidas</label>
                </div>
              </div>
              <div
                class="sidebar-filter__brend pretty p-svg p-curve p-smooth p-primary"
              >
                <input type="checkbox" />
                <div class="state p-primary">
                  <svg class="svg svg-icon" viewBox="0 0 20 20">
                    <path
                      d="M7.629,14.566c0.125,0.125,0.291,0.188,0.456,0.188c0.164,0,0.329-0.062,0.456-0.188l8.219-8.221c0.252-0.252,0.252-0.659,0-0.911c-0.252-0.252-0.659-0.252-0.911,0l-7.764,7.763L4.152,9.267c-0.252-0.251-0.66-0.251-0.911,0c-0.252,0.252-0.252,0.66,0,0.911L7.629,14.566z"
                      style="stroke: white; fill: white"
                    ></path>
                  </svg>
                  <label>Adidas</label>
                </div>
              </div>
              <div
                class="sidebar-filter__brend pretty p-svg p-curve p-smooth p-primary"
              >
                <input type="checkbox" />
                <div class="state p-primary">
                  <svg class="svg svg-icon" viewBox="0 0 20 20">
                    <path
                      d="M7.629,14.566c0.125,0.125,0.291,0.188,0.456,0.188c0.164,0,0.329-0.062,0.456-0.188l8.219-8.221c0.252-0.252,0.252-0.659,0-0.911c-0.252-0.252-0.659-0.252-0.911,0l-7.764,7.763L4.152,9.267c-0.252-0.251-0.66-0.251-0.911,0c-0.252,0.252-0.252,0.66,0,0.911L7.629,14.566z"
                      style="stroke: white; fill: white"
                    ></path>
                  </svg>
                  <label>Adidas</label>
                </div>
              </div>
              <div
                class="sidebar-filter__brend pretty p-svg p-curve p-smooth p-primary"
              >
                <input type="checkbox" />
                <div class="state p-primary">
                  <svg class="svg svg-icon" viewBox="0 0 20 20">
                    <path
                      d="M7.629,14.566c0.125,0.125,0.291,0.188,0.456,0.188c0.164,0,0.329-0.062,0.456-0.188l8.219-8.221c0.252-0.252,0.252-0.659,0-0.911c-0.252-0.252-0.659-0.252-0.911,0l-7.764,7.763L4.152,9.267c-0.252-0.251-0.66-0.251-0.911,0c-0.252,0.252-0.252,0.66,0,0.911L7.629,14.566z"
                      style="stroke: white; fill: white"
                    ></path>
                  </svg>
                  <label>Adidas</label>
                </div>
              </div>
              <div
                class="sidebar-filter__brend pretty p-svg p-curve p-smooth p-primary"
              >
                <input type="checkbox" />
                <div class="state p-primary">
                  <svg class="svg svg-icon" viewBox="0 0 20 20">
                    <path
                      d="M7.629,14.566c0.125,0.125,0.291,0.188,0.456,0.188c0.164,0,0.329-0.062,0.456-0.188l8.219-8.221c0.252-0.252,0.252-0.659,0-0.911c-0.252-0.252-0.659-0.252-0.911,0l-7.764,7.763L4.152,9.267c-0.252-0.251-0.66-0.251-0.911,0c-0.252,0.252-0.252,0.66,0,0.911L7.629,14.566z"
                      style="stroke: white; fill: white"
                    ></path>
                  </svg>
                  <label>Adidas</label>
                </div>
              </div>
              <div
                class="sidebar-filter__brend pretty p-svg p-curve p-smooth p-primary"
              >
                <input type="checkbox" />
                <div class="state p-primary">
                  <svg class="svg svg-icon" viewBox="0 0 20 20">
                    <path
                      d="M7.629,14.566c0.125,0.125,0.291,0.188,0.456,0.188c0.164,0,0.329-0.062,0.456-0.188l8.219-8.221c0.252-0.252,0.252-0.659,0-0.911c-0.252-0.252-0.659-0.252-0.911,0l-7.764,7.763L4.152,9.267c-0.252-0.251-0.66-0.251-0.911,0c-0.252,0.252-0.252,0.66,0,0.911L7.629,14.566z"
                      style="stroke: white; fill: white"
                    ></path>
                  </svg>
                  <label>Adidas</label>
                </div>
              </div>
              <div
                class="sidebar-filter__brend pretty p-svg p-curve p-smooth p-primary"
              >
                <input type="checkbox" />
                <div class="state p-primary">
                  <svg class="svg svg-icon" viewBox="0 0 20 20">
                    <path
                      d="M7.629,14.566c0.125,0.125,0.291,0.188,0.456,0.188c0.164,0,0.329-0.062,0.456-0.188l8.219-8.221c0.252-0.252,0.252-0.659,0-0.911c-0.252-0.252-0.659-0.252-0.911,0l-7.764,7.763L4.152,9.267c-0.252-0.251-0.66-0.251-0.911,0c-0.252,0.252-0.252,0.66,0,0.911L7.629,14.566z"
                      style="stroke: white; fill: white"
                    ></path>
                  </svg>
                  <label>Adidas</label>
                </div>
              </div>
              <div
                class="sidebar-filter__brend pretty p-svg p-curve p-smooth p-primary"
              >
                <input type="checkbox" />
                <div class="state p-primary">
                  <svg class="svg svg-icon" viewBox="0 0 20 20">
                    <path
                      d="M7.629,14.566c0.125,0.125,0.291,0.188,0.456,0.188c0.164,0,0.329-0.062,0.456-0.188l8.219-8.221c0.252-0.252,0.252-0.659,0-0.911c-0.252-0.252-0.659-0.252-0.911,0l-7.764,7.763L4.152,9.267c-0.252-0.251-0.66-0.251-0.911,0c-0.252,0.252-0.252,0.66,0,0.911L7.629,14.566z"
                      style="stroke: white; fill: white"
                    ></path>
                  </svg>
                  <label>Adidas</label>
                </div>
              </div>
              <div
                class="sidebar-filter__brend pretty p-svg p-curve p-smooth p-primary"
              >
                <input type="checkbox" />
                <div class="state p-primary">
                  <svg class="svg svg-icon" viewBox="0 0 20 20">
                    <path
                      d="M7.629,14.566c0.125,0.125,0.291,0.188,0.456,0.188c0.164,0,0.329-0.062,0.456-0.188l8.219-8.221c0.252-0.252,0.252-0.659,0-0.911c-0.252-0.252-0.659-0.252-0.911,0l-7.764,7.763L4.152,9.267c-0.252-0.251-0.66-0.251-0.911,0c-0.252,0.252-0.252,0.66,0,0.911L7.629,14.566z"
                      style="stroke: white; fill: white"
                    ></path>
                  </svg>
                  <label>Adidas</label>
                </div>
              </div>
              <div
                class="sidebar-filter__brend pretty p-svg p-curve p-smooth p-primary"
              >
                <input type="checkbox" />
                <div class="state p-primary">
                  <svg class="svg svg-icon" viewBox="0 0 20 20">
                    <path
                      d="M7.629,14.566c0.125,0.125,0.291,0.188,0.456,0.188c0.164,0,0.329-0.062,0.456-0.188l8.219-8.221c0.252-0.252,0.252-0.659,0-0.911c-0.252-0.252-0.659-0.252-0.911,0l-7.764,7.763L4.152,9.267c-0.252-0.251-0.66-0.251-0.911,0c-0.252,0.252-0.252,0.66,0,0.911L7.629,14.566z"
                      style="stroke: white; fill: white"
                    ></path>
                  </svg>
                  <label>Adidas</label>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="sidebar__filter sidebar-filter">
          <div class="sidebar-filter__header">
            <h4 class="sidebar__title title-filter-category">Цвет</h4>
            <svg
              width="8"
              height="5"
              viewBox="0 0 8 5"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M3.64645 0.146447C3.84171 -0.0488155 4.15829 -0.0488155 4.35355 0.146447L7.53553 3.32843C7.7308 3.52369 7.7308 3.84027 7.53553 4.03553C7.34027 4.2308 7.02369 4.2308 6.82843 4.03553L4 1.20711L1.17157 4.03553C0.976311 4.2308 0.659728 4.2308 0.464466 4.03553C0.269204 3.84027 0.269204 3.52369 0.464466 3.32843L3.64645 0.146447ZM4 1.5L3.5 1.5L3.5 0.5L4 0.5L4.5 0.5L4.5 1.5L4 1.5Z"
                fill="#232323"
              />
            </svg>
          </div>
          <div class="sidebar-filter__body">
            <div class="sidebar-filter__colors-grid">
              <div class="sidebar-filter__color">
                <div class="sidebar-filter__color-exemple"></div>
                <p>Серый</p>
              </div>
              <div class="sidebar-filter__color">
                <div class="sidebar-filter__color-exemple"></div>
                <p>Серый</p>
              </div>
              <div class="sidebar-filter__color">
                <div class="sidebar-filter__color-exemple"></div>
                <p>Серый</p>
              </div>
              <div class="sidebar-filter__color">
                <div class="sidebar-filter__color-exemple"></div>
                <p>Серый</p>
              </div>
              <div class="sidebar-filter__color">
                <div class="sidebar-filter__color-exemple"></div>
                <p>Серый</p>
              </div>
              <div class="sidebar-filter__color">
                <div class="sidebar-filter__color-exemple"></div>
                <p>Серый</p>
              </div>
              <div class="sidebar-filter__color">
                <div class="sidebar-filter__color-exemple"></div>
                <p>Серый</p>
              </div>
              <div class="sidebar-filter__color">
                <div class="sidebar-filter__color-exemple"></div>
                <p>Серый</p>
              </div>
              <div class="sidebar-filter__color">
                <div class="sidebar-filter__color-exemple"></div>
                <p>Серый</p>
              </div>
              <div class="sidebar-filter__color">
                <div class="sidebar-filter__color-exemple"></div>
                <p>Серый</p>
              </div>
            </div>
          </div>
        </div>
        <button class="sidebar-filter__reset">
          <svg
            width="9"
            height="8"
            viewBox="0 0 9 8"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M1 7.49954L7.99954 0.5M8 7.49977L1.00046 0.50023"
              stroke="#2C2C2C"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
          Сбросить все фильтры
        </button>
      </div>
    </div>
  </div>
</aside>
