<!-- >>>>>>>>>>>>>>>>>slider start<<<<<<<<<<<<< -->
<div class="my-slider__wrapper">
  <div class="swiper my-slider">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="my-slider__slide my-slider-slide">
          <h3 class="my-slider-slide__title">заголово 1</h3>
          <h4 class="my-slider-slide__subtitle">подзаголово 1</h4>
          <p class="my-slider-slide__text">
            текст Lorem ipsum, dolor sit amet consectetur adipisicing elit.
            Praesentium error reprehenderit est ducimus maiores qui molestias
            magni voluptate, doloribus animi non, illum debitis rem. Facere
            similique fuga ea minima reprehenderit?
          </p>
          <img
            src="assets/images/plaseholder.png"
            alt="e"
            class="my-slider-slide__img"
          />
        </div>
      </div>
      <div class="swiper-slide">
        <div class="my-slider__slide my-slider-slide">
          <h3 class="my-slider-slide__title">заголово 1</h3>
          <h4 class="my-slider-slide__subtitle">подзаголово 1</h4>
          <p class="my-slider-slide__text">
            текст Lorem ipsum, dolor sit amet consectetur adipisicing elit.
            Praesentium error reprehenderit est ducimus maiores qui molestias
            magni voluptate, doloribus animi non, illum debitis rem. Facere
            similique fuga ea minima reprehenderit?
          </p>
          <img
            src="assets/images/plaseholder.png"
            alt="e"
            class="my-slider-slide__img"
          />
        </div>
      </div>
      <div class="swiper-slide">
        <div class="my-slider__slide my-slider-slide">
          <h3 class="my-slider-slide__title">заголово 2</h3>
          <h4 class="my-slider-slide__subtitle">подзаголово 2</h4>
          <p class="my-slider-slide__text">
            текст Lorem ipsum, dolor sit amet consectetur adipisicing elit.
            Praesentium error reprehenderit est ducimus maiores qui molestias
            magni voluptate, doloribus animi non, illum debitis rem. Facere
            similique fuga ea minima reprehenderit?
          </p>
          <img
            src="assets/images/plaseholder.png"
            alt="e"
            class="my-slider-slide__img"
          />
        </div>
      </div>
      <div class="swiper-slide">
        <div class="my-slider__slide my-slider-slide">
          <h3 class="my-slider-slide__title">заголово 3</h3>
          <h4 class="my-slider-slide__subtitle">подзаголово 3</h4>
          <p class="my-slider-slide__text">
            текст Lorem ipsum, dolor sit amet consectetur adipisicing elit.
            Praesentium error reprehenderit est ducimus maiores qui molestias
            magni voluptate, doloribus animi non, illum debitis rem. Facere
            similique fuga ea minima reprehenderit?
          </p>
          <img
            src="assets/images/plaseholder.png"
            alt="e"
            class="my-slider-slide__img"
          />
        </div>
      </div>
      <div class="swiper-slide">
        <div class="my-slider__slide my-slider-slide">
          <h3 class="my-slider-slide__title">заголово 4</h3>
          <h4 class="my-slider-slide__subtitle">подзаголово 4</h4>
          <p class="my-slider-slide__text">
            текст Lorem ipsum, dolor sit amet consectetur adipisicing elit.
            Praesentium error reprehenderit est ducimus maiores qui molestias
            magni voluptate, doloribus animi non, illum debitis rem. Facere
            similique fuga ea minima reprehenderit?
          </p>
          <img
            src="assets/images/plaseholder.png"
            alt="e"
            class="my-slider-slide__img"
          />
        </div>
      </div>
      <div class="swiper-slide">
        <div class="my-slider__slide my-slider-slide">
          <h3 class="my-slider-slide__title">заголово 5</h3>
          <h4 class="my-slider-slide__subtitle">подзаголово 5</h4>
          <p class="my-slider-slide__text">
            текст Lorem ipsum, dolor sit amet consectetur adipisicing elit.
            Praesentium error reprehenderit est ducimus maiores qui molestias
            magni voluptate, doloribus animi non, illum debitis rem. Facere
            similique fuga ea minima reprehenderit?
          </p>
          <img
            src="assets/images/plaseholder.png"
            alt="e"
            class="my-slider-slide__img"
          />
        </div>
      </div>
    </div>
  </div>
  <div class="my-slider__button-prev">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      viewBox="0 0 24 24"
    >
      <path
        fill="currentColor"
        d="M1 13v-2h1v-1h1V9h1V8h1V7h1V6h1V5h1V4h1V3h1V2h1V1h1v1h1v1h1v1h-1v1h-1v1h-1v1h-1v1H9v1H8v1h15v4H8v1h1v1h1v1h1v1h1v1h1v1h1v1h-1v1h-1v1h-1v-1h-1v-1H9v-1H8v-1H7v-1H6v-1H5v-1H4v-1H3v-1H2v-1z"
      />
    </svg>
  </div>
  <div class="my-slider__button-next">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      viewBox="0 0 24 24"
    >
      <path
        fill="currentColor"
        d="M23 11v2h-1v1h-1v1h-1v1h-1v1h-1v1h-1v1h-1v1h-1v1h-1v1h-1v1h-1v-1h-1v-1h-1v-1h1v-1h1v-1h1v-1h1v-1h1v-1h1v-1H1v-4h15V9h-1V8h-1V7h-1V6h-1V5h-1V4h-1V3h1V2h1V1h1v1h1v1h1v1h1v1h1v1h1v1h1v1h1v1h1v1h1v1z"
      />
    </svg>
  </div>
  <!-- Опционально: пагинация -->
  <!-- <div class="my-slider__pagination"> -->
  <div class="my-slider__pagination"></div>
  <!-- </div> -->
</div>
<!-- >>>>>>>>>>>>>slider end<<<<<<<<<<<<<<<<<< -->
