@use "../base/variables" as *;

// footer start
.footer {
  background-color: $black;
  padding: 45px 0;
  color: #fff;
  &__wrapper {
  }

  &__columns {
    display: flex;
    justify-content: space-between;
  }

  &__column {
  }

  &__column-title {
    font-weight: 900;
    font-size: 15px;
    line-height: 187%;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 9px;
  }
  &__dropdown {
    svg {
      display: none;
    }
  }
  &__list {
    li {
      margin-bottom: 9px;
      font-weight: 400;
      font-size: 15px;
      line-height: 187%;
      color: #dcdce0;
      cursor: pointer;
      transition: all 0.3s;
      &:hover {
        color: #ffffff;
      }
    }
  }

  &__mail {
    font-size: 15px;
    line-height: 187%;
    text-decoration: underline;
    color: #dcdce0;
  }

  &__phone {
    a {
      font-weight: 600;
      font-size: 16px;
      line-height: 200%;
    }
  }

  &__icons {
  }

  &__icons-title {
    font-weight: 800;
    font-size: 12px;
    line-height: 233%;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 3px;
  }

  &__icons-flex {
    display: flex;
    gap: 9px;
  }

  @media (max-width: $breakpoint-sm) {
    padding: 30px 0;

    &__wrapper {
    }

    &__columns {
      flex-direction: column;
    }

    &__column {
      display: flex;
      flex-direction: column;
      &:not(:last-child) {
        border-bottom: 1px solid rgb(255, 255, 255);
      }
    }

    &__column-title {
      padding: 10px 0;
      margin-bottom: 0;
    }

    &__list {
    }
    &__dropdown {
      p {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      p svg {
        display: block;
        margin-top: 12px;
        margin-right: 5px;
      }
      ul {
        overflow: hidden;
        max-height: 0;
        opacity: 0;
        transition: all 0.3s;
      }
      &.active ul {
        overflow: visible;
        max-height: 500px;
        opacity: 1;
      }
      &.active p svg {
        transform: rotate(180deg);
      }
    }
    &__mail {
    }

    &__phone {
    }

    &__icons {
    }

    &__icons-title {
    }

    &__icons-flex {
    }
  }
}
// footer end
