@use "../base/variables" as *;
.full-card {
  margin-bottom: 100px;
  &__wrapper {
    display: flex;
    gap: 20px;
  }

  &__slider {
    display: flex;
    flex-direction: column;
    width: 800px;
  }

  &__description {
    width: 50%;
  }

  &__title {
    font-weight: 900;
    font-size: 31px;
    line-height: 135%;
    text-transform: uppercase;
    color: #000;
    margin-bottom: 13px;
  }
  &__title.hidden {
    display: none;
  }

  &__subtitle {
    font-weight: 600;
    font-size: 14px;
    line-height: 143%;
    text-transform: uppercase;
    color: $dark-gray;
    margin-bottom: 13px;
  }
  &__description__body {
    font-weight: 600;
    font-size: 14px;
    line-height: 157%;
    color: #20282f;
    display: flex;
  }
  &__description-items {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 30px;
    li {
      display: flex;
      justify-content: space-between;
      margin-bottom: 10px;
    }
    span {
      width: 100%;
      margin: 0 10px;
      position: relative;
    }
  }
  &__description-name {
    white-space: nowrap;
  }
  &__description-result {
    text-align: start;
    white-space: nowrap;
    // width: 200px;
    flex-shrink: 0;
  }
  &__description-line {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 1px;
    border-bottom: 2px dotted #ccc;
  }
  &__btn {
  }

  @media (max-width: $breakpoint-xl) {
    margin-bottom: 60px;
    &__slider {
      width: 50%;
    }
    // &__description-result {
    //   white-space: wrap;
    // }
  }
  @media (max-width: $breakpoint-md) {
    &__wrapper {
      flex-direction: column;
      gap: 15px;
    }
    &__slider {
      width: 100%;
      margin-bottom: 30px;
    }
    &__description {
      width: 100%;
    }
    &__title {
      display: none;
      margin-bottom: 0;
    }
    &__title.hidden {
      display: block;
    }

    // &__description-name {
    // }
    // &__description-result {
    //   white-space: wrap;
    // }
  }
}
