@use "variables" as *;

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  font-size: $font-size-base;
  line-height: 150%;
  color: $black;
}

main {
  flex: 1;
}

.none {
  display: none;
}

.padding-section {
  padding: 40px 0;
}

.container {
  max-width: 1462px;
  margin: 0 auto;
  padding: 0 50px;
  @media (max-width: $breakpoint-sm) {
    padding: 0 10px;
  }
}
.container-big {
  max-width: 1581px;
  margin: 0 auto;
  padding: 0 20px;
}

main {
  margin-top: 60px;
}

.text-WYSIWYG {
  p {
    margin-bottom: 10px;
  }
  ul,
  ol {
    margin-bottom: 10px;
    margin-left: 20px;
  }
  ul li {
    list-style-type: disc;
    margin-right: 10px;
  }
  ol li {
    list-style-type: decimal;
  }
}
