// colors

// Colors
$black: #121214;
$blue: #49d0ff;
$light-gray: #8c8f96;
$dark-gray: #303030;

// презентация палитры
.demo__list-color li {
  text-align: center;
  &:nth-child(1) {
    background-color: $black;
    color: antiquewhite;
  }
  &:nth-child(2) {
    background-color: $blue;
  }
  &:nth-child(3) {
    background-color: $light-gray;
  }
  &:nth-child(4) {
    background-color: $dark-gray;
  }
}

//fonts
$font-family-base: "Manrope", sans-serif;

$font-size-base: 16px;
$font-size-s: 14px;
$font-size-m: 19px;
$font-size-l: 31px;
$font-size-xl: 51px;
// ==============================================
// Breakpoints
// ==============================================

$breakpoint-xs: 0;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
$breakpoint-xxl: 1400px;
